<footer class="footer">
    <table width="100%">
        <tr>
            <td width="25%"><img src="/images/TopicQuestsLogo_sm.png"></td>
            <td width="25%"><a rel="license" title="This work is licensed under a Creative Commons Attribution 4.0 International License" href="http://creativecommons.org/licenses/by/4.0/"><img src="/images/ccby88x31.png" /></a></td>
            <td width="25%"><h3><b>MVP 0.2</b></h3></td>
            <td><a href="https://github.com/KnowledgeGarden/TQPortalKS"><img src="/images/github.jpg"></a></td>
        </tr>
    </table>
</footer>
