  <footer class="footer col-xs-12   ">
    <table width="70%">
      <tr>
        <td width="25%">
          <a href="http://www.topicquests.org/"><img src="/images/TopicQuestsLogo_sm.png"></a>
        </td>
        <td width="25%"><a rel="license" title="This work is licensed under a Creative Commons Attribution 4.0 International License" href="http://creativecommons.org/licenses/by/4.0/"><img src="/images/ccby88x31.png" /></a></td>
        <td width="25%"><h3><b>MVP 0.2.4</b></h3></td>
        <td><a href="https://github.com/topicquests/TQPortalKS"><img src="/images/github.jpg"></a></td>
      </tr>
    </table>
  </footer>
