<h1>Edit Credentials</h1>
<div class="col-xs-11">
<b>Email: {{email}}</b><br/><br/>
<b>Current Roles:</b> <span>{{credentials}}</span><br/>
<form action="/addrole" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <div class="form-group">
        <!-- TODO more credentials values? -->
        <label>Add a single role: Admin = "rar" User = "rur"</label>
        <input type="text" class="form-control" name="addcredentials">
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Add Role</button>
</form>
<form action="/removerole" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <div class="form-group">
        <label>Remove a single role listed above.</label>
        <input type="text" class="form-control" name="removecredentials">
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Remove Role</button>
</form>
</div>
