<div class="col-xs-12">
  <img src="/images/game/quest.png" />
  <h2>{{label}}</h2>
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#topic">Quest</a></li>
      <li><a data-toggle="tab" href="#tree">Tree</a></li>
  </ul>

  <div class="tab-content">
      <div id="topic" class="tab-pane fade in active">
          <div class="row">
              <div class="home col-xs-8 col-sm-8 ">
                <div class="body pre-scrollable span12" style="border: 1px solid #e1e1e8; resize:both;overflow: auto;">
                    {{{details}}}
                </div>
              </div>
              {{> pivots}}
          </div>
      </div>
      <div id="tree" class="tab-pane fade">
        <div class="ccontable pre-scrollable" style="border: 1px solid #e1e1e8;">
          <div id="myConTree">{{{myTree}}}</div>
        </div>
      </div>
  </div>

</div>
