<h1>Search</h1>

<form id="search" action="/search" method="get">
    <div class="form-group">
        <label>Search</label>
        <input type="text" class="form-control" name="srch_term">
    </div>

    <button type="submit" class="btn btn-success btn-lg">search</button>
</form>
